<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dj.cloud.mybatis.mapper.BlogMapper">
<!--    <cache/>-->
    <cache-ref namespace="com.dj.cloud.mybatis.mapper.BlogMapper"/>
    
    <resultMap id="blogMap" type="com.dj.cloud.mybatis.entity.Blog" autoMapping="true">
        <id column="id" property="id"/>
        <result column="title" property="title"/>
        <collection property="comments" column="id" select="selectComments" fetchType="lazy"/>
    </resultMap>

    <resultMap id="commentMap" type="com.dj.cloud.mybatis.entity.Comments" autoMapping="true" >
        <result column="blog_id" property="blogId"/>
        <association property="blog" column="blog_id" select="selectBlog"/>
    </resultMap>

    <select id="selectBlog" resultMap="blogMap">
        select * from Blog where id = #{id}
    </select>

    <select id="selectComments" resultMap="commentMap">
        select * from comments where blog_id = #{id}
    </select>
    
    <resultMap id="blog1Map" type="com.dj.cloud.mybatis.entity.Blog" autoMapping="true">
        <id column="id" property="id"/>
        <collection property="comments" ofType="com.dj.cloud.mybatis.entity.Comments" autoMapping="true" columnPrefix="comment_">
            <association property="blog" javaType="com.dj.cloud.mybatis.entity.Blog" resultMap="blog1Map"/>
        </collection>
    </resultMap>
    
    <select id="selectBlogById" resultMap="blog1Map">
        select
            a.id, a.title, a.comment,
            c.id as comment_id,
            c.blog_id as comment_blogId,
            c.comment as comment_comment
        from
            blog a
        left join
            comments c
        on
            a.id = c.blog_id
        where
            a.id = #{id}
    </select>
</mapper>